* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  // line-height: 1.15;
}
body {
  background-color: #e7efec;
}

.search-flights {
  display: flex;
  max-width: 1140px;
  margin: auto;
  margin-top: 40px;
  flex-direction: column;
  &__title {
    margin: 0 200px;
    line-height: 80px;
    font-size: 70px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.search-line {
  display: flex;
  position: relative;
  margin: 24px 200px 0;
  height: 80px;
  &__input {
    flex: 1;
    padding-left: 70px;
    font-size: 24px;
    border: 0;
  }
  &__icon {
    position: absolute;
    left: 15px;
    line-height: 80px;
    font-size: 36px;
    opacity: 0.5;
  }
  &__btn {
    padding: 0 20px;
    width: 200px;
    text-transform: uppercase;
    border: 0;
    background-color: #1eb7ee;
    color: #fff;
    font-weight: 700;
    font-size: 26px;
    text-align: left;

    border-radius: 0 80px 0 0;
    transition: 0.3s ease-in-out;
    &:hover {
      border-radius: 0 40px 0 0;
    }
  }
}

.search-cource {
  display: flex;
  margin-top: 40px;
  font-weight: 600;
  &__btn {
    flex: 1;
    line-height: 60px;
    text-transform: uppercase;
    border: none;
    font-weight: 600;
    font-size: 24px;
    cursor: pointer;
    &_active {
      flex: 1;
      z-index: 1;
      color: #1eb7ee;
      background-color: #fff;
      border-radius: 60px 60px 0 0;
    }
    &_active.search-cource__btn-departure {
      text-align: right;
      margin-right: -60px;
    }
    &_active.search-cource__btn-arrival {
      text-align: left;
      margin-left: -60px;
    }
    &_inactive {
      color: #fff;
    }
    &_inactive.search-cource__btn-departure {
      text-align: right;
      border-radius: 60px 0 0 0;
      background-color: #1eb7ee;
    }
    &_inactive.search-cource__btn-arrival {
      text-align: left;
      border-radius: 0 60px 0 0;
      background-color: #1eb7ee;
    }
  }
  &__btn-departure {
    padding-right: 100px;
  }
  &__btn-arrival {
    padding-left: 100px;
  }
  &__icon {
    margin-right: 15px;
  }
}

// .btn-arrival.search-cource__btn_inactive {
//   border-radius: 0 60px 0 0;
//   background-color: #1eb7ee;
// }

.calendar-container {
  display: flex;
  padding-top: 10px;
  background-color: #fff;
  &__dates {
    display: flex;
    width: 300px;
    margin-left: 30px;
  }
}

.calendar {
  display: flex;
  margin-left: 20px;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  flex-direction: column;
  color: #b8b9b9;
  &__num {
    font-size: 12px;
    color: #1eb7ee;
  }
  &__title {
    color: #1eb7ee;
    margin-top: 5px;
    font-weight: 700;
    padding-bottom: 5px;
  }
  // &__select {
  //   display: none;
  // }
  // :after {
  //   content: '';
  //   height: 40px;
  //   width: 40px;
  //   display: block;
  //   background: #1eb7ee url(https://iev.aero/images/icons/calendar.svg) center
  //     no-repeat;
  //   background-size: 70%;
  // }
}

.date-picker {
  display: flex;
  flex: 1;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  flex-direction: column;
  border-bottom: 2px solid #d0d0d0;
  color: #b8b9b9;
  &__num {
    font-size: 12px;
  }
  &__title {
    margin-top: 5px;
    font-weight: 700;
    padding-bottom: 5px;
  }
  &_active {
    color: #1eb7ee;
    border-bottom: 3px solid #1eb7ee;
  }
}

// .mx-grid-search-item {
//   .mx-grid-search-input {
//     width: auto;
//   }
// }
// .react-datepicker__input-container {
//   display: none;
// }

.table {
  max-width: 1140px;
  margin: auto;
  padding-top: 15px;
  text-align: left;
  list-style-type: none;
  width: 100%;
  background-color: #fff;
  border: none;

  thead tr {
    line-height: 20px;
  }
  thead th {
    padding: 12px;
    color: #95989a;
    font-size: 16px;
    font-weight: 600;
    background-color: #fff;
  }
  tbody tr {
    font-size: 18px;
    line-height: 40px;
  }
  td {
    padding: 16px 10px;
  }
  tbody tr:nth-child(odd) {
    background-color: #0066871a;
  }
  td:nth-child(1) {
    text-align: center;
  }
  &__row-term {
    color: #63c745;
    font-weight: 700;
    border: 1px solid #63c745;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 35px;
    font-size: 22px;
  }

  td:nth-child(5) {
    display: flex;
  }
  tbody tr:hover {
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
  }
}
.flightcompany-logo {
  display: inline-block;
  height: 40px;
  margin-right: 10px;
}

.spinner__page {
  margin-top: 50px;
  display: flex;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinner {
  display: block;
  margin: auto;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 4px solid rgba(0, 0, 0, 0.5);
  border-bottom-color: transparent;
  animation: rotate 1s linear infinite;
}

.empty-result-page {
  display: flex;
  max-width: 1140px;
  margin: auto;
  min-height: 200px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
